*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 5000px;
    background-color: #eee;
}

.scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #0075ff;
    z-index: 99999;
}